body {
  margin: 0 auto;
}

#search_area {
  margin-top: 30vh;
  text-align: center;
}

img {
  width: 21%;
  height: auto;
}

#search_bar {
  margin: 30px auto;
  width: 45vw;
  height: 35px;
  display: block;
  font-size: 15px;
}

.btn_group {
  margin-top: 15px;
}

button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  font-weight: bold;
}